<section id="home">
  <div class="container-fluid d-none d-md-block">
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="../../assets/img/slajd.jpg" alt="first slajd" class="item">
      </ng-template>
      <ng-template ngbSlide>
        <img src="../../assets/img/slajd_2.jpg" alt="second slajd" class="item">
      </ng-template>
      <ng-template ngbSlide>
        <img src="../../assets/img/slajd_3.jpg" alt="second slajd" class="item">
      </ng-template>
    </ngb-carousel>
  </div>
</section>
